[user]
	name = ...
	email = ...
[core]
	editor = code --wait # notepad
	quotepath = off
[rerere]
	enabled = true
[alias]
	parent = "! echo develop"
	current = rev-parse --abbrev-ref HEAD

	# log

	log-ahead = "! git log --oneline --ancestry-path `git parent`..HEAD"
	log-direct = log --oneline --first-parent
	log-labeled = log --oneline --graph --simplify-by-decoration
	log-all = log --oneline --decorate --graph

	# branch

	branch-new = "! \
		parent=`git parent` && \
		\
		git checkout $parent && \
		git pull && \
		git checkout -b $1 && \
		git push -u origin $1 \
		#"

	branch-remote = "! \
		git fetch && \
		git checkout $1 \
		#"

	branch-delete = "! \
		parent=`git parent` && \
		\
		git push origin :$1 && \
		git checkout $parent && \
		git branch -D $1 \
		#"

	# changes

	commit-amend = "! \
		git add -A && \
		git commit --amend --no-edit \
		#"

	commit-all = "! \
		git add -A && \
		git commit -am \"$1\" \
		#"

	# sync changes

	push-remote = "! \
		parent=`git parent` && \
		\
		git pull origin $parent && \
		git push \
		#"

	# tag

	tag-new = "! \
		git checkout master && \
		git pull && \
		git tag -a $1 -m \"$2\" && \
		git push --tags \
		#"

	tag-delete = "! \
		git tag -d $1 && \
		git push origin :$1 \
		#"

	# stash

	stash-checkout = "! \
		current=`git current` && \
		\
		git stash push -um \"$current -> $1\" && \
		git checkout $1 && \
		git stash pop \
		#"

	clear = "! \
		git stash clear && \
		git rerere forget . \
		#"
