[alias]
	log-ahead = "!git log --oneline --ancestry-path develop^..$(git branch-name)"
	log-direct = "log --oneline --decorate --first-parent"
	log-labeled = "log --oneline --decorate --graph --simplify-by-decoration"
	log-all = "log --oneline --decorate --graph"
	
	branch-name = "rev-parse --abbrev-ref HEAD"

	branch-new = "! \
		git checkout develop && \
		git pull && \
		git checkout -b $1 && \
		git push -u origin $1 #"

	commit-all = "! \
		b=$(git branch-name) && \
		[[ $b != 'master' && $b != 'develop' ]] && \
		git add -A && \
		git commit -am \"$1\" #"

	push-remote = "! \
		b=$(git branch-name) && \
		git checkout develop && \
		git pull && \
		git checkout $b && \
		git merge develop && \
		git push #"
	
	pull-remote = "! \
		git checkout develop && \
		git pull #"
