[user]
	name = ...
	email = ...
[core]
	editor = code --wait # notepad
	quotepath = off
[rerere]
	enabled = true
[alias]
	parent = "! echo develop"
	current = rev-parse --abbrev-ref HEAD

	log-ahead = "! git log --oneline --ancestry-path $(git parent)..HEAD"
	log-direct = log --oneline --first-parent
	log-labeled = log --oneline --graph --simplify-by-decoration
	log-all = log --oneline --decorate --graph

	stash-checkout = "! \
		current=$(git current) && \
		\
		git stash push -um \"$current -> $1\" && \
		git checkout $1 #"

	branch-new = "! \
		parent=$(git parent) && \
		\
		git pull-remote $parent && \
		git checkout -b $1 && \
		git push -u origin $1 #"

	commit-all = "! \
		current=$(git current) && \
		parent=$(git parent) && \
		[[ $current != $parent ]] && \
		\
		git add -A && \
		git commit -am \"$1\" #"

	merge-remote = "! \
		current=$(git current) && \
		parent=$(git parent) && \
		[[ $current != $parent ]] && \
		\
		git pull-remote $parent && \
		git checkout $current && \
		git merge $parent #"

	rebase-remote = "! \
		current=$(git current) && \
		parent=$(git parent) && \
		[[ $current != $parent ]] && \
		\
		git pull-remote $parent && \
		git checkout $current && \
		git rebase $parent #"

	rebase-continue = "! \
		git add -A && \
		git commit && \
		git rebase --continue #"

	push-remote = "! \
		git rebase-remote && \
		git push #"

	push-fast = "! \
		git add -A && \
		git commit -am \"$(date +%Y-%m-%dT%H:%M:%S)\" && \
		git push #"

	branch-delete = "! \
		current=$(git current) && \
		parent=$(git parent) && \
		[[ $current != $parent ]] && \
		\
		git push -u origin :$current && \
		git checkout $parent && \
		git branch -D $current #"

	pull-remote = "! \
		git checkout $1 && \
		git pull #"

	tag-new = "! \
		git pull-remote master && \
		git tag -a $1 -m \"$2\" && \
		git push --tags #"
		
	tag-delete = "! \
		git tag -d $1 && \
		git push origin :refs/tags/$1 && \
		git push --tags #"

	clean = "! \
		git stash clear && \
		git rerere forget . #"
